*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    max-width: 1600px;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
div h2{
    font-size: 45px;
    font-weight: 900;
}
.logo{
    color: #FD6E0A;
}
nav .menu{
    list-style: none;
    display: flex;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
.btn {
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    align-items: center;
    cursor: pointer;
}
.section-heading{
    max-width: 827px;
    text-align: center;
}
.section-heading h2{
    font-size:35px;
    font-weight:900;
    color: #181818;
    margin-bottom:30px;
}
.section-heading p{
    font-size:18px;
    font-weight: regular;
    color: #181818;
    line-height: 30px;
    margin-bottom: 30px;
}


header{
    background-color: #FFF8F3;
    background:url("images/developer.png"),url("images/header_bg.png") ,#FFF8F3;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    padding-top: 50px;
    padding-bottom: 180px;
    height: 110vh;
    position:relative;

}
.banner-image{
/* border: solid 1px red; */
position:absolute;
right: 0;
bottom: 0;

}



nav{
 max-width: 1160px;   
  width: 71%;
     max-width: 1140px;
    margin: 0 auto;
    /* border: solid 1px red; */
    display: flex;
    justify-content: space-between;
}

#banner {
margin: 47px 36px 0 230px;
    display:flex;
    justify-content: space-between;
    align-items: center;
} 
 #banner .hero-content{
    max-width: 585px;
 }

   #banner .hero-content h2{
        font-size: 45px;
        font-weight: 600;
        color: #474747;
        margin-bottom: 5px;
    }
   #banner .hero-content h1{
        font-size: 55px;
        font-weight: bold;
        color: #181818;
        margin-bottom: 20px;
    }
     #banner .hero-content p {
        font-size: 18px;
       font-weight: regular;
       color: #757575;
       line-height: 30px;
       margin-bottom: 30px;
     }
 #banner .banner image img {
    max-width: 588px;
    vertical-align: middle';
 }

#about{
    padding-top: 130px;
}     
#about .about-contenner{
  width: 71%;
  max-width:1140px;
margin: 0 auto;
text-align: center;
background-color: #FFF8F3;
padding: 136px 156px;

}

#about .about-contenner .section-info {
    display: flex;
    justify-content: space-around;
}
.section-info .section-card p {
    font-size: 20px;
    font-weight: regular;
    color: #757575;
    line-height: 30px;
}
.section-info .section-card h4 {
       font-size: 19px;
}
#skill {
    padding-top: 130px;
}
#skill .skill-containner {
    width: 71%;
    max width: 1140px;
    margin:0 auto;
}
#skill .skill-containner .section-heading h2{ 
    padding-bottom: 30px;
    font-size: 35px;
    font-weight: 900;
    color:#181818;
}
#skill .skill-containner .section-heading p {
    font-size: 18px;
    color: #757575;
    padding-bottom: 30px;
}

#skill .skill-containner .skill-box {
    display: flex;
    gap: 24px;

}
.skill-box .skill-card {
    padding: 30px;
    /* border: 1px solid red; */
    width: 267px;
    box-shadow: 0 6px 50px 0 #0000000e;
}
.skill-card img {
/* width: 44px;
height: 44px; */
opacity: 100%;
color: #FFFFFF;
padding-bottom: 30px;

}
.skill-card h3 {
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color:#181818;
}
.skill-card p {
    font-size: 16px;
    line-height: 28px;
    color:#757575 ;
}


